body{
    background-image: url(./background/blob-scene-haikei.svg);
    background-size: cover; /* Cover the entire background area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    height: 100vh;
}
main{
    display: flex;
    justify-content: center; /* Horizontally center the background */
    align-items: center; /* Vertically center the background */
    flex-direction: column; /* Stack elements vertically */

    text-align: center; /* Horizontally center the text */
    position: absolute; /* Position the element */
    top: 50%; /* Move the element down by 50% of the viewport height */
    left: 50%; /* Move the element right by 50% of the viewport width */
    transform: translate(-50%, -50%); /* Center the element precisely */

}
h1{
    font-size: 15vh;
    color:#83fd00;
   
}